* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #4e4e4e;
  border: none;
}

.Header {
  background-color: #00478f;
  width: 100%;
  height: 108px;
}
.Header h4 {
  color: white;
  font-size: 60px;
  display: inline-block;
  margin: 16px 140px;
}
.Search {
  display: flex;
  justify-content: center;
  margin: 52px 100px;
  padding: 0 100px;
}
.Search input {
  width: 603px;
  height: 45px;
  background-color: #bbd5e7;
  border-radius: 38px;
  font-family: Helvetica, sans-serif;
  padding: 20px;
}
.Search input::placeholder {
  color: #414141;
  font-size: 1.2rem;
}
.Search input:focus {
  outline: none;
}
.Search button {
  width: 191px;
  height: 45px;
  border-radius: 43px;
  margin: 0 10px;
  background-color: #ff5d00;
  color: white;
}
button:hover {
  background-color: #c55311;
}
button:focus {
  outline: none;
}
body {
  background-color: #e4e4e4;
}
.movies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 80px;
}
.movie {
  padding: 0 20px 20px 20px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie img {
  border-radius: 20px;
  box-shadow: 9px 10px 20px 1px rgba(0, 0, 0, 0.75);
  height: 459px;
  width: 311px;
  opacity: 0.7;
}
.movie img:hover {
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.movie h1 {
  font-size: 1.2rem;
  color: rgb(16, 16, 16);
  display: inline-block;
}
.details {
  margin-top: 10px;
  text-align: center;
  background-color: #dedede;
  border-radius: 25px;
  overflow: hidden;
  padding: 10px 20px;
  width: 311px;
}
@media;
